Sirgep/SirgepPresentacion/Connected Services/ServiciosWebSirgep/DepartamentoWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="pe.edu.pucp.sirgep" targetNamespace="pe.edu.pucp.sirgep" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="buscarDepaPorId" type="tns:buscarDepaPorId" />
  <xs:element name="buscarDepaPorIdResponse" type="tns:buscarDepaPorIdResponse" />
  <xs:element name="listarDepas" type="tns:listarDepas" />
  <xs:element name="listarDepasResponse" type="tns:listarDepasResponse" />
  <xs:complexType name="listarDepas">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarDepasResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:departamento" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="departamento">
    <xs:sequence>
      <xs:element name="idDepartamento" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="buscarDepaPorId">
    <xs:sequence>
      <xs:element name="idDepartamento" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="buscarDepaPorIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:departamento" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>