Sirgep/SirgepPresentacion/Connected Services/ReferenciaDisco/CalificacionWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="pe.edu.pucp.sirgep" targetNamespace="pe.edu.pucp.sirgep" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="calificarServicio" type="tns:calificarServicio" />
  <xs:element name="calificarServicioResponse" type="tns:calificarServicioResponse" />
  <xs:complexType name="calificarServicio">
    <xs:sequence>
      <xs:element name="puntaje" type="xs:int" />
      <xs:element minOccurs="0" name="text" type="xs:string" />
      <xs:element minOccurs="0" name="servicio" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="calificarServicioResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>