Sirgep/SirgepPresentacion/Connected Services/ReferenciaDisco/CompraWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="pe.edu.pucp.sirgep" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="CompraWS" targetNamespace="pe.edu.pucp.sirgep" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/SirgepWS/CompraWS?xsd=1" namespace="pe.edu.pucp.sirgep" />
    </xsd:schema>
  </types>
  <message name="actualizarComprador">
    <part name="parameters" element="tns:actualizarComprador" />
  </message>
  <message name="actualizarCompradorResponse">
    <part name="parameters" element="tns:actualizarCompradorResponse" />
  </message>
  <message name="buscarCompradorPorDni">
    <part name="parameters" element="tns:buscarCompradorPorDni" />
  </message>
  <message name="buscarCompradorPorDniResponse">
    <part name="parameters" element="tns:buscarCompradorPorDniResponse" />
  </message>
  <message name="insertarComprador">
    <part name="parameters" element="tns:insertarComprador" />
  </message>
  <message name="insertarCompradorResponse">
    <part name="parameters" element="tns:insertarCompradorResponse" />
  </message>
  <message name="buscarComprador">
    <part name="parameters" element="tns:buscarComprador" />
  </message>
  <message name="buscarCompradorResponse">
    <part name="parameters" element="tns:buscarCompradorResponse" />
  </message>
  <message name="buscarEventos">
    <part name="parameters" element="tns:buscarEventos" />
  </message>
  <message name="buscarEventosResponse">
    <part name="parameters" element="tns:buscarEventosResponse" />
  </message>
  <message name="insertarConstancia">
    <part name="parameters" element="tns:insertarConstancia" />
  </message>
  <message name="insertarConstanciaResponse">
    <part name="parameters" element="tns:insertarConstanciaResponse" />
  </message>
  <portType name="CompraWS">
    <operation name="actualizarComprador">
      <input wsam:Action="pe.edu.pucp.sirgep/CompraWS/actualizarCompradorRequest" message="tns:actualizarComprador" />
      <output wsam:Action="pe.edu.pucp.sirgep/CompraWS/actualizarCompradorResponse" message="tns:actualizarCompradorResponse" />
    </operation>
    <operation name="buscarCompradorPorDni">
      <input wsam:Action="pe.edu.pucp.sirgep/CompraWS/buscarCompradorPorDniRequest" message="tns:buscarCompradorPorDni" />
      <output wsam:Action="pe.edu.pucp.sirgep/CompraWS/buscarCompradorPorDniResponse" message="tns:buscarCompradorPorDniResponse" />
    </operation>
    <operation name="insertarComprador">
      <input wsam:Action="pe.edu.pucp.sirgep/CompraWS/insertarCompradorRequest" message="tns:insertarComprador" />
      <output wsam:Action="pe.edu.pucp.sirgep/CompraWS/insertarCompradorResponse" message="tns:insertarCompradorResponse" />
    </operation>
    <operation name="buscarComprador">
      <input wsam:Action="pe.edu.pucp.sirgep/CompraWS/buscarCompradorRequest" message="tns:buscarComprador" />
      <output wsam:Action="pe.edu.pucp.sirgep/CompraWS/buscarCompradorResponse" message="tns:buscarCompradorResponse" />
    </operation>
    <operation name="buscarEventos">
      <input wsam:Action="pe.edu.pucp.sirgep/CompraWS/buscarEventosRequest" message="tns:buscarEventos" />
      <output wsam:Action="pe.edu.pucp.sirgep/CompraWS/buscarEventosResponse" message="tns:buscarEventosResponse" />
    </operation>
    <operation name="insertarConstancia">
      <input wsam:Action="pe.edu.pucp.sirgep/CompraWS/insertarConstanciaRequest" message="tns:insertarConstancia" />
      <output wsam:Action="pe.edu.pucp.sirgep/CompraWS/insertarConstanciaResponse" message="tns:insertarConstanciaResponse" />
    </operation>
  </portType>
  <binding name="CompraWSPortBinding" type="tns:CompraWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="actualizarComprador">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="buscarCompradorPorDni">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarComprador">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="buscarComprador">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="buscarEventos">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarConstancia">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="CompraWS">
    <port name="CompraWSPort" binding="tns:CompraWSPortBinding">
      <soap:address location="http://localhost:8080/SirgepWS/CompraWS" />
    </port>
  </service>
</definitions>