Sirgep/SirgepPresentacion/Connected Services/ReferenciaDisco/DistritoWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="pe.edu.pucp.sirgep" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="DistritoWS" targetNamespace="pe.edu.pucp.sirgep" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/SirgepWS/DistritoWS?xsd=1" namespace="pe.edu.pucp.sirgep" />
    </xsd:schema>
  </types>
  <message name="listarTodosDistritos">
    <part name="parameters" element="tns:listarTodosDistritos" />
  </message>
  <message name="listarTodosDistritosResponse">
    <part name="parameters" element="tns:listarTodosDistritosResponse" />
  </message>
  <message name="buscarDistPorId">
    <part name="parameters" element="tns:buscarDistPorId" />
  </message>
  <message name="buscarDistPorIdResponse">
    <part name="parameters" element="tns:buscarDistPorIdResponse" />
  </message>
  <message name="listarDistritosFiltrados">
    <part name="parameters" element="tns:listarDistritosFiltrados" />
  </message>
  <message name="listarDistritosFiltradosResponse">
    <part name="parameters" element="tns:listarDistritosFiltradosResponse" />
  </message>
  <portType name="DistritoWS">
    <operation name="listarTodosDistritos">
      <input wsam:Action="pe.edu.pucp.sirgep/DistritoWS/listarTodosDistritosRequest" message="tns:listarTodosDistritos" />
      <output wsam:Action="pe.edu.pucp.sirgep/DistritoWS/listarTodosDistritosResponse" message="tns:listarTodosDistritosResponse" />
    </operation>
    <operation name="buscarDistPorId">
      <input wsam:Action="pe.edu.pucp.sirgep/DistritoWS/buscarDistPorIdRequest" message="tns:buscarDistPorId" />
      <output wsam:Action="pe.edu.pucp.sirgep/DistritoWS/buscarDistPorIdResponse" message="tns:buscarDistPorIdResponse" />
    </operation>
    <operation name="listarDistritosFiltrados">
      <input wsam:Action="pe.edu.pucp.sirgep/DistritoWS/listarDistritosFiltradosRequest" message="tns:listarDistritosFiltrados" />
      <output wsam:Action="pe.edu.pucp.sirgep/DistritoWS/listarDistritosFiltradosResponse" message="tns:listarDistritosFiltradosResponse" />
    </operation>
  </portType>
  <binding name="DistritoWSPortBinding" type="tns:DistritoWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="listarTodosDistritos">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="buscarDistPorId">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarDistritosFiltrados">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="DistritoWS">
    <port name="DistritoWSPort" binding="tns:DistritoWSPortBinding">
      <soap:address location="http://localhost:8080/SirgepWS/DistritoWS" />
    </port>
  </service>
</definitions>