Sirgep/SirgepPresentacion/Connected Services/ReferenciaDisco/EntradaWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="pe.edu.pucp.sirgep" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="EntradaWS" targetNamespace="pe.edu.pucp.sirgep" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/SirgepWS/EntradaWS?xsd=1" namespace="pe.edu.pucp.sirgep" />
    </xsd:schema>
  </types>
  <message name="actualizarEntrada">
    <part name="parameters" element="tns:actualizarEntrada" />
  </message>
  <message name="actualizarEntradaResponse">
    <part name="parameters" element="tns:actualizarEntradaResponse" />
  </message>
  <message name="insertarEntrada">
    <part name="parameters" element="tns:insertarEntrada" />
  </message>
  <message name="insertarEntradaResponse">
    <part name="parameters" element="tns:insertarEntradaResponse" />
  </message>
  <message name="buscarEntrada">
    <part name="parameters" element="tns:buscarEntrada" />
  </message>
  <message name="buscarEntradaResponse">
    <part name="parameters" element="tns:buscarEntradaResponse" />
  </message>
  <message name="listarVentas">
    <part name="parameters" element="tns:listarVentas" />
  </message>
  <message name="listarVentasResponse">
    <part name="parameters" element="tns:listarVentasResponse" />
  </message>
  <message name="eliminarLogicoEntrada">
    <part name="parameters" element="tns:eliminarLogicoEntrada" />
  </message>
  <message name="eliminarLogicoEntradaResponse">
    <part name="parameters" element="tns:eliminarLogicoEntradaResponse" />
  </message>
  <message name="buscarFuncionDeEntrada">
    <part name="parameters" element="tns:buscarFuncionDeEntrada" />
  </message>
  <message name="buscarFuncionDeEntradaResponse">
    <part name="parameters" element="tns:buscarFuncionDeEntradaResponse" />
  </message>
  <message name="buscarEventoDeEntrada">
    <part name="parameters" element="tns:buscarEventoDeEntrada" />
  </message>
  <message name="buscarEventoDeEntradaResponse">
    <part name="parameters" element="tns:buscarEventoDeEntradaResponse" />
  </message>
  <message name="buscarCompradorDeEntrada">
    <part name="parameters" element="tns:buscarCompradorDeEntrada" />
  </message>
  <message name="buscarCompradorDeEntradaResponse">
    <part name="parameters" element="tns:buscarCompradorDeEntradaResponse" />
  </message>
  <message name="buscarDistritoDeEntrada">
    <part name="parameters" element="tns:buscarDistritoDeEntrada" />
  </message>
  <message name="buscarDistritoDeEntradaResponse">
    <part name="parameters" element="tns:buscarDistritoDeEntradaResponse" />
  </message>
  <message name="eliminarFisicoEntrada">
    <part name="parameters" element="tns:eliminarFisicoEntrada" />
  </message>
  <message name="eliminarFisicoEntradaResponse">
    <part name="parameters" element="tns:eliminarFisicoEntradaResponse" />
  </message>
  <portType name="EntradaWS">
    <operation name="actualizarEntrada">
      <input wsam:Action="pe.edu.pucp.sirgep/EntradaWS/actualizarEntradaRequest" message="tns:actualizarEntrada" />
      <output wsam:Action="pe.edu.pucp.sirgep/EntradaWS/actualizarEntradaResponse" message="tns:actualizarEntradaResponse" />
    </operation>
    <operation name="insertarEntrada">
      <input wsam:Action="pe.edu.pucp.sirgep/EntradaWS/insertarEntradaRequest" message="tns:insertarEntrada" />
      <output wsam:Action="pe.edu.pucp.sirgep/EntradaWS/insertarEntradaResponse" message="tns:insertarEntradaResponse" />
    </operation>
    <operation name="buscarEntrada">
      <input wsam:Action="pe.edu.pucp.sirgep/EntradaWS/buscarEntradaRequest" message="tns:buscarEntrada" />
      <output wsam:Action="pe.edu.pucp.sirgep/EntradaWS/buscarEntradaResponse" message="tns:buscarEntradaResponse" />
    </operation>
    <operation name="listarVentas">
      <input wsam:Action="pe.edu.pucp.sirgep/EntradaWS/listarVentasRequest" message="tns:listarVentas" />
      <output wsam:Action="pe.edu.pucp.sirgep/EntradaWS/listarVentasResponse" message="tns:listarVentasResponse" />
    </operation>
    <operation name="eliminarLogicoEntrada">
      <input wsam:Action="pe.edu.pucp.sirgep/EntradaWS/eliminarLogicoEntradaRequest" message="tns:eliminarLogicoEntrada" />
      <output wsam:Action="pe.edu.pucp.sirgep/EntradaWS/eliminarLogicoEntradaResponse" message="tns:eliminarLogicoEntradaResponse" />
    </operation>
    <operation name="buscarFuncionDeEntrada">
      <input wsam:Action="pe.edu.pucp.sirgep/EntradaWS/buscarFuncionDeEntradaRequest" message="tns:buscarFuncionDeEntrada" />
      <output wsam:Action="pe.edu.pucp.sirgep/EntradaWS/buscarFuncionDeEntradaResponse" message="tns:buscarFuncionDeEntradaResponse" />
    </operation>
    <operation name="buscarEventoDeEntrada">
      <input wsam:Action="pe.edu.pucp.sirgep/EntradaWS/buscarEventoDeEntradaRequest" message="tns:buscarEventoDeEntrada" />
      <output wsam:Action="pe.edu.pucp.sirgep/EntradaWS/buscarEventoDeEntradaResponse" message="tns:buscarEventoDeEntradaResponse" />
    </operation>
    <operation name="buscarCompradorDeEntrada">
      <input wsam:Action="pe.edu.pucp.sirgep/EntradaWS/buscarCompradorDeEntradaRequest" message="tns:buscarCompradorDeEntrada" />
      <output wsam:Action="pe.edu.pucp.sirgep/EntradaWS/buscarCompradorDeEntradaResponse" message="tns:buscarCompradorDeEntradaResponse" />
    </operation>
    <operation name="buscarDistritoDeEntrada">
      <input wsam:Action="pe.edu.pucp.sirgep/EntradaWS/buscarDistritoDeEntradaRequest" message="tns:buscarDistritoDeEntrada" />
      <output wsam:Action="pe.edu.pucp.sirgep/EntradaWS/buscarDistritoDeEntradaResponse" message="tns:buscarDistritoDeEntradaResponse" />
    </operation>
    <operation name="eliminarFisicoEntrada">
      <input wsam:Action="pe.edu.pucp.sirgep/EntradaWS/eliminarFisicoEntradaRequest" message="tns:eliminarFisicoEntrada" />
      <output wsam:Action="pe.edu.pucp.sirgep/EntradaWS/eliminarFisicoEntradaResponse" message="tns:eliminarFisicoEntradaResponse" />
    </operation>
  </portType>
  <binding name="EntradaWSPortBinding" type="tns:EntradaWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="actualizarEntrada">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarEntrada">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="buscarEntrada">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarVentas">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarLogicoEntrada">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="buscarFuncionDeEntrada">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="buscarEventoDeEntrada">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="buscarCompradorDeEntrada">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="buscarDistritoDeEntrada">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarFisicoEntrada">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="EntradaWS">
    <port name="EntradaWSPort" binding="tns:EntradaWSPortBinding">
      <soap:address location="http://localhost:8080/SirgepWS/EntradaWS" />
    </port>
  </service>
</definitions>