Sirgep/SirgepPresentacion/Connected Services/ReferenciaDisco/EspacioWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="pe.edu.pucp.sirgep" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="EspacioWS" targetNamespace="pe.edu.pucp.sirgep" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/SirgepWS/EspacioWS?xsd=1" namespace="pe.edu.pucp.sirgep" />
    </xsd:schema>
  </types>
  <message name="actualizarEspacio">
    <part name="parameters" element="tns:actualizarEspacio" />
  </message>
  <message name="actualizarEspacioResponse">
    <part name="parameters" element="tns:actualizarEspacioResponse" />
  </message>
  <message name="buscarEspacio">
    <part name="parameters" element="tns:buscarEspacio" />
  </message>
  <message name="buscarEspacioResponse">
    <part name="parameters" element="tns:buscarEspacioResponse" />
  </message>
  <message name="insertarEspacio">
    <part name="parameters" element="tns:insertarEspacio" />
  </message>
  <message name="insertarEspacioResponse">
    <part name="parameters" element="tns:insertarEspacioResponse" />
  </message>
  <message name="listarEspacio">
    <part name="parameters" element="tns:listarEspacio" />
  </message>
  <message name="listarEspacioResponse">
    <part name="parameters" element="tns:listarEspacioResponse" />
  </message>
  <message name="eliminarLogico">
    <part name="parameters" element="tns:eliminarLogico" />
  </message>
  <message name="eliminarLogicoResponse">
    <part name="parameters" element="tns:eliminarLogicoResponse" />
  </message>
  <portType name="EspacioWS">
    <operation name="actualizarEspacio">
      <input wsam:Action="pe.edu.pucp.sirgep/EspacioWS/actualizarEspacioRequest" message="tns:actualizarEspacio" />
      <output wsam:Action="pe.edu.pucp.sirgep/EspacioWS/actualizarEspacioResponse" message="tns:actualizarEspacioResponse" />
    </operation>
    <operation name="buscarEspacio">
      <input wsam:Action="pe.edu.pucp.sirgep/EspacioWS/buscarEspacioRequest" message="tns:buscarEspacio" />
      <output wsam:Action="pe.edu.pucp.sirgep/EspacioWS/buscarEspacioResponse" message="tns:buscarEspacioResponse" />
    </operation>
    <operation name="insertarEspacio">
      <input wsam:Action="pe.edu.pucp.sirgep/EspacioWS/insertarEspacioRequest" message="tns:insertarEspacio" />
      <output wsam:Action="pe.edu.pucp.sirgep/EspacioWS/insertarEspacioResponse" message="tns:insertarEspacioResponse" />
    </operation>
    <operation name="listarEspacio">
      <input wsam:Action="pe.edu.pucp.sirgep/EspacioWS/listarEspacioRequest" message="tns:listarEspacio" />
      <output wsam:Action="pe.edu.pucp.sirgep/EspacioWS/listarEspacioResponse" message="tns:listarEspacioResponse" />
    </operation>
    <operation name="eliminarLogico">
      <input wsam:Action="pe.edu.pucp.sirgep/EspacioWS/eliminarLogicoRequest" message="tns:eliminarLogico" />
      <output wsam:Action="pe.edu.pucp.sirgep/EspacioWS/eliminarLogicoResponse" message="tns:eliminarLogicoResponse" />
    </operation>
  </portType>
  <binding name="EspacioWSPortBinding" type="tns:EspacioWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="actualizarEspacio">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="buscarEspacio">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarEspacio">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarEspacio">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarLogico">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="EspacioWS">
    <port name="EspacioWSPort" binding="tns:EspacioWSPortBinding">
      <soap:address location="http://localhost:8080/SirgepWS/EspacioWS" />
    </port>
  </service>
</definitions>