Sirgep/SirgepPresentacion/Connected Services/ReferenciaDisco/EventoWSAnaG.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="pe.edu.pucp.sirgep" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="EventoWSAnaG" targetNamespace="pe.edu.pucp.sirgep" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/SirgepWS/EventoWSAnaG?xsd=1" namespace="pe.edu.pucp.sirgep" />
    </xsd:schema>
  </types>
  <message name="buscarPorID">
    <part name="parameters" element="tns:buscarPorID" />
  </message>
  <message name="buscarPorIDResponse">
    <part name="parameters" element="tns:buscarPorIDResponse" />
  </message>
  <message name="listarEventos">
    <part name="parameters" element="tns:listarEventos" />
  </message>
  <message name="listarEventosResponse">
    <part name="parameters" element="tns:listarEventosResponse" />
  </message>
  <message name="cantEntradasDisponibles">
    <part name="parameters" element="tns:cantEntradasDisponibles" />
  </message>
  <message name="cantEntradasDisponiblesResponse">
    <part name="parameters" element="tns:cantEntradasDisponiblesResponse" />
  </message>
  <message name="listarFuncionesDeEvento">
    <part name="parameters" element="tns:listarFuncionesDeEvento" />
  </message>
  <message name="listarFuncionesDeEventoResponse">
    <part name="parameters" element="tns:listarFuncionesDeEventoResponse" />
  </message>
  <portType name="EventoWSAnaG">
    <operation name="buscarPorID">
      <input wsam:Action="pe.edu.pucp.sirgep/EventoWSAnaG/buscarPorIDRequest" message="tns:buscarPorID" />
      <output wsam:Action="pe.edu.pucp.sirgep/EventoWSAnaG/buscarPorIDResponse" message="tns:buscarPorIDResponse" />
    </operation>
    <operation name="listarEventos">
      <input wsam:Action="pe.edu.pucp.sirgep/EventoWSAnaG/listarEventosRequest" message="tns:listarEventos" />
      <output wsam:Action="pe.edu.pucp.sirgep/EventoWSAnaG/listarEventosResponse" message="tns:listarEventosResponse" />
    </operation>
    <operation name="cantEntradasDisponibles">
      <input wsam:Action="pe.edu.pucp.sirgep/EventoWSAnaG/cantEntradasDisponiblesRequest" message="tns:cantEntradasDisponibles" />
      <output wsam:Action="pe.edu.pucp.sirgep/EventoWSAnaG/cantEntradasDisponiblesResponse" message="tns:cantEntradasDisponiblesResponse" />
    </operation>
    <operation name="listarFuncionesDeEvento">
      <input wsam:Action="pe.edu.pucp.sirgep/EventoWSAnaG/listarFuncionesDeEventoRequest" message="tns:listarFuncionesDeEvento" />
      <output wsam:Action="pe.edu.pucp.sirgep/EventoWSAnaG/listarFuncionesDeEventoResponse" message="tns:listarFuncionesDeEventoResponse" />
    </operation>
  </portType>
  <binding name="EventoWSAnaGPortBinding" type="tns:EventoWSAnaG">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="buscarPorID">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarEventos">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="cantEntradasDisponibles">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarFuncionesDeEvento">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="EventoWSAnaG">
    <port name="EventoWSAnaGPort" binding="tns:EventoWSAnaGPortBinding">
      <soap:address location="http://localhost:8080/SirgepWS/EventoWSAnaG" />
    </port>
  </service>
</definitions>