Sirgep/SirgepPresentacion/Connected Services/ReferenciaDisco/EventoWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="pe.edu.pucp.sirgep" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="EventoWS" targetNamespace="pe.edu.pucp.sirgep" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/SirgepWS/EventoWS?xsd=1" namespace="pe.edu.pucp.sirgep" />
    </xsd:schema>
  </types>
  <message name="eliminarFuncionesDeEvento">
    <part name="parameters" element="tns:eliminarFuncionesDeEvento" />
  </message>
  <message name="eliminarFuncionesDeEventoResponse">
    <part name="parameters" element="tns:eliminarFuncionesDeEventoResponse" />
  </message>
  <message name="buscarEventosPorFechas">
    <part name="parameters" element="tns:buscarEventosPorFechas" />
  </message>
  <message name="buscarEventosPorFechasResponse">
    <part name="parameters" element="tns:buscarEventosPorFechasResponse" />
  </message>
  <message name="buscarEventoPorTexto">
    <part name="parameters" element="tns:buscarEventoPorTexto" />
  </message>
  <message name="buscarEventoPorTextoResponse">
    <part name="parameters" element="tns:buscarEventoPorTextoResponse" />
  </message>
  <message name="listarFuncionesDeEvento">
    <part name="parameters" element="tns:listarFuncionesDeEvento" />
  </message>
  <message name="listarFuncionesDeEventoResponse">
    <part name="parameters" element="tns:listarFuncionesDeEventoResponse" />
  </message>
  <message name="listarEventoPorDistrito">
    <part name="parameters" element="tns:listarEventoPorDistrito" />
  </message>
  <message name="listarEventoPorDistritoResponse">
    <part name="parameters" element="tns:listarEventoPorDistritoResponse" />
  </message>
  <message name="obtenerCantEntradasDisponibles">
    <part name="parameters" element="tns:obtenerCantEntradasDisponibles" />
  </message>
  <message name="obtenerCantEntradasDisponiblesResponse">
    <part name="parameters" element="tns:obtenerCantEntradasDisponiblesResponse" />
  </message>
  <message name="eliminarLogico">
    <part name="parameters" element="tns:eliminarLogico" />
  </message>
  <message name="eliminarLogicoResponse">
    <part name="parameters" element="tns:eliminarLogicoResponse" />
  </message>
  <message name="buscarEventoPorID">
    <part name="parameters" element="tns:buscarEventoPorID" />
  </message>
  <message name="buscarEventoPorIDResponse">
    <part name="parameters" element="tns:buscarEventoPorIDResponse" />
  </message>
  <message name="actualizarEvento">
    <part name="parameters" element="tns:actualizarEvento" />
  </message>
  <message name="actualizarEventoResponse">
    <part name="parameters" element="tns:actualizarEventoResponse" />
  </message>
  <message name="insertarEvento">
    <part name="parameters" element="tns:insertarEvento" />
  </message>
  <message name="insertarEventoResponse">
    <part name="parameters" element="tns:insertarEventoResponse" />
  </message>
  <message name="listarEvento">
    <part name="parameters" element="tns:listarEvento" />
  </message>
  <message name="listarEventoResponse">
    <part name="parameters" element="tns:listarEventoResponse" />
  </message>
  <portType name="EventoWS">
    <operation name="eliminarFuncionesDeEvento">
      <input wsam:Action="pe.edu.pucp.sirgep/EventoWS/eliminarFuncionesDeEventoRequest" message="tns:eliminarFuncionesDeEvento" />
      <output wsam:Action="pe.edu.pucp.sirgep/EventoWS/eliminarFuncionesDeEventoResponse" message="tns:eliminarFuncionesDeEventoResponse" />
    </operation>
    <operation name="buscarEventosPorFechas">
      <input wsam:Action="pe.edu.pucp.sirgep/EventoWS/buscarEventosPorFechasRequest" message="tns:buscarEventosPorFechas" />
      <output wsam:Action="pe.edu.pucp.sirgep/EventoWS/buscarEventosPorFechasResponse" message="tns:buscarEventosPorFechasResponse" />
    </operation>
    <operation name="buscarEventoPorTexto">
      <input wsam:Action="pe.edu.pucp.sirgep/EventoWS/buscarEventoPorTextoRequest" message="tns:buscarEventoPorTexto" />
      <output wsam:Action="pe.edu.pucp.sirgep/EventoWS/buscarEventoPorTextoResponse" message="tns:buscarEventoPorTextoResponse" />
    </operation>
    <operation name="listarFuncionesDeEvento">
      <input wsam:Action="pe.edu.pucp.sirgep/EventoWS/listarFuncionesDeEventoRequest" message="tns:listarFuncionesDeEvento" />
      <output wsam:Action="pe.edu.pucp.sirgep/EventoWS/listarFuncionesDeEventoResponse" message="tns:listarFuncionesDeEventoResponse" />
    </operation>
    <operation name="listarEventoPorDistrito">
      <input wsam:Action="pe.edu.pucp.sirgep/EventoWS/listarEventoPorDistritoRequest" message="tns:listarEventoPorDistrito" />
      <output wsam:Action="pe.edu.pucp.sirgep/EventoWS/listarEventoPorDistritoResponse" message="tns:listarEventoPorDistritoResponse" />
    </operation>
    <operation name="obtenerCantEntradasDisponibles">
      <input wsam:Action="pe.edu.pucp.sirgep/EventoWS/obtenerCantEntradasDisponiblesRequest" message="tns:obtenerCantEntradasDisponibles" />
      <output wsam:Action="pe.edu.pucp.sirgep/EventoWS/obtenerCantEntradasDisponiblesResponse" message="tns:obtenerCantEntradasDisponiblesResponse" />
    </operation>
    <operation name="eliminarLogico">
      <input wsam:Action="pe.edu.pucp.sirgep/EventoWS/eliminarLogicoRequest" message="tns:eliminarLogico" />
      <output wsam:Action="pe.edu.pucp.sirgep/EventoWS/eliminarLogicoResponse" message="tns:eliminarLogicoResponse" />
    </operation>
    <operation name="buscarEventoPorID">
      <input wsam:Action="pe.edu.pucp.sirgep/EventoWS/buscarEventoPorIDRequest" message="tns:buscarEventoPorID" />
      <output wsam:Action="pe.edu.pucp.sirgep/EventoWS/buscarEventoPorIDResponse" message="tns:buscarEventoPorIDResponse" />
    </operation>
    <operation name="actualizarEvento">
      <input wsam:Action="pe.edu.pucp.sirgep/EventoWS/actualizarEventoRequest" message="tns:actualizarEvento" />
      <output wsam:Action="pe.edu.pucp.sirgep/EventoWS/actualizarEventoResponse" message="tns:actualizarEventoResponse" />
    </operation>
    <operation name="insertarEvento">
      <input wsam:Action="pe.edu.pucp.sirgep/EventoWS/insertarEventoRequest" message="tns:insertarEvento" />
      <output wsam:Action="pe.edu.pucp.sirgep/EventoWS/insertarEventoResponse" message="tns:insertarEventoResponse" />
    </operation>
    <operation name="listarEvento">
      <input wsam:Action="pe.edu.pucp.sirgep/EventoWS/listarEventoRequest" message="tns:listarEvento" />
      <output wsam:Action="pe.edu.pucp.sirgep/EventoWS/listarEventoResponse" message="tns:listarEventoResponse" />
    </operation>
  </portType>
  <binding name="EventoWSPortBinding" type="tns:EventoWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="eliminarFuncionesDeEvento">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="buscarEventosPorFechas">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="buscarEventoPorTexto">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarFuncionesDeEvento">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarEventoPorDistrito">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="obtenerCantEntradasDisponibles">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarLogico">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="buscarEventoPorID">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="actualizarEvento">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarEvento">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarEvento">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="EventoWS">
    <port name="EventoWSPort" binding="tns:EventoWSPortBinding">
      <soap:address location="http://localhost:8080/SirgepWS/EventoWS" />
    </port>
  </service>
</definitions>