Sirgep/SirgepPresentacion/Connected Services/ReferenciaDisco/EventoWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="pe.edu.pucp.sirgep" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="EventoWS" targetNamespace="pe.edu.pucp.sirgep" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/SirgepWS/EventoWS?xsd=1" namespace="pe.edu.pucp.sirgep" />
    </xsd:schema>
  </types>
  <message name="listarEvento">
    <part name="parameters" element="tns:listarEvento" />
  </message>
  <message name="listarEventoResponse">
    <part name="parameters" element="tns:listarEventoResponse" />
  </message>
  <message name="listarEventoPorDistrito">
    <part name="parameters" element="tns:listarEventoPorDistrito" />
  </message>
  <message name="listarEventoPorDistritoResponse">
    <part name="parameters" element="tns:listarEventoPorDistritoResponse" />
  </message>
  <message name="buscarEvento">
    <part name="parameters" element="tns:buscarEvento" />
  </message>
  <message name="buscarEventoResponse">
    <part name="parameters" element="tns:buscarEventoResponse" />
  </message>
  <portType name="EventoWS">
    <operation name="listarEvento">
      <input wsam:Action="pe.edu.pucp.sirgep/EventoWS/listarEventoRequest" message="tns:listarEvento" />
      <output wsam:Action="pe.edu.pucp.sirgep/EventoWS/listarEventoResponse" message="tns:listarEventoResponse" />
    </operation>
    <operation name="listarEventoPorDistrito">
      <input wsam:Action="pe.edu.pucp.sirgep/EventoWS/listarEventoPorDistritoRequest" message="tns:listarEventoPorDistrito" />
      <output wsam:Action="pe.edu.pucp.sirgep/EventoWS/listarEventoPorDistritoResponse" message="tns:listarEventoPorDistritoResponse" />
    </operation>
    <operation name="buscarEvento">
      <input wsam:Action="pe.edu.pucp.sirgep/EventoWS/buscarEventoRequest" message="tns:buscarEvento" />
      <output wsam:Action="pe.edu.pucp.sirgep/EventoWS/buscarEventoResponse" message="tns:buscarEventoResponse" />
    </operation>
  </portType>
  <binding name="EventoWSPortBinding" type="tns:EventoWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="listarEvento">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarEventoPorDistrito">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="buscarEvento">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="EventoWS">
    <port name="EventoWSPort" binding="tns:EventoWSPortBinding">
      <soap:address location="http://localhost:8080/SirgepWS/EventoWS" />
    </port>
  </service>
</definitions>