Sirgep/SirgepPresentacion/Connected Services/ReferenciaDisco/EventoWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="pe.edu.pucp.sirgep" targetNamespace="pe.edu.pucp.sirgep" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="actualizarEvento" type="tns:actualizarEvento" />
  <xs:element name="actualizarEventoResponse" type="tns:actualizarEventoResponse" />
  <xs:element name="buscarEventoPorID" type="tns:buscarEventoPorID" />
  <xs:element name="buscarEventoPorIDResponse" type="tns:buscarEventoPorIDResponse" />
  <xs:element name="buscarEventoPorTexto" type="tns:buscarEventoPorTexto" />
  <xs:element name="buscarEventoPorTextoResponse" type="tns:buscarEventoPorTextoResponse" />
  <xs:element name="buscarEventosPorFechas" type="tns:buscarEventosPorFechas" />
  <xs:element name="buscarEventosPorFechasResponse" type="tns:buscarEventosPorFechasResponse" />
  <xs:element name="eliminarFuncionesDeEvento" type="tns:eliminarFuncionesDeEvento" />
  <xs:element name="eliminarFuncionesDeEventoResponse" type="tns:eliminarFuncionesDeEventoResponse" />
  <xs:element name="eliminarLogico" type="tns:eliminarLogico" />
  <xs:element name="eliminarLogicoResponse" type="tns:eliminarLogicoResponse" />
  <xs:element name="enviarCorreosCompradoresPorDistritoDeEvento" type="tns:enviarCorreosCompradoresPorDistritoDeEvento" />
  <xs:element name="enviarCorreosCompradoresPorDistritoDeEventoResponse" type="tns:enviarCorreosCompradoresPorDistritoDeEventoResponse" />
  <xs:element name="insertarEvento" type="tns:insertarEvento" />
  <xs:element name="insertarEventoResponse" type="tns:insertarEventoResponse" />
  <xs:element name="listarEvento" type="tns:listarEvento" />
  <xs:element name="listarEventoPorDistrito" type="tns:listarEventoPorDistrito" />
  <xs:element name="listarEventoPorDistritoResponse" type="tns:listarEventoPorDistritoResponse" />
  <xs:element name="listarEventoResponse" type="tns:listarEventoResponse" />
  <xs:element name="listarFuncionesDeEvento" type="tns:listarFuncionesDeEvento" />
  <xs:element name="listarFuncionesDeEventoResponse" type="tns:listarFuncionesDeEventoResponse" />
  <xs:element name="obtenerCantEntradasDisponibles" type="tns:obtenerCantEntradasDisponibles" />
  <xs:element name="obtenerCantEntradasDisponiblesResponse" type="tns:obtenerCantEntradasDisponiblesResponse" />
  <xs:complexType name="buscarEventosPorFechas">
    <xs:sequence>
      <xs:element minOccurs="0" name="fecha_inicio" type="xs:string" />
      <xs:element minOccurs="0" name="fecha_fin" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="buscarEventosPorFechasResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:evento" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="evento">
    <xs:sequence>
      <xs:element minOccurs="0" name="archivoImagen" type="xs:base64Binary" />
      <xs:element name="cantEntradasDispo" type="xs:int" />
      <xs:element name="cantEntradasVendidas" type="xs:int" />
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element minOccurs="0" name="distrito" type="tns:distrito" />
      <xs:element minOccurs="0" name="fecha_fin" type="xs:string" />
      <xs:element minOccurs="0" name="fecha_inicio" type="xs:string" />
      <xs:element name="idEvento" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element name="precioEntrada" type="xs:double" />
      <xs:element minOccurs="0" name="referencia" type="xs:string" />
      <xs:element minOccurs="0" name="ubicacion" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="distrito">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="espacios" nillable="true" type="tns:espacio" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="eventos" nillable="true" type="tns:evento" />
      <xs:element name="idDistrito" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="provincia" type="tns:provincia" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="espacio">
    <xs:sequence>
      <xs:element minOccurs="0" name="distrito" type="tns:distrito" />
      <xs:element minOccurs="0" name="horarioFinAtencion" type="xs:string" />
      <xs:element minOccurs="0" name="horarioInicioAtencion" type="xs:string" />
      <xs:element name="idEspacio" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="listaDiasAtencion" nillable="true" type="tns:eDiaSemana" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element name="precioReserva" type="xs:double" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="reservas" nillable="true" type="tns:reserva" />
      <xs:element name="superficie" type="xs:double" />
      <xs:element minOccurs="0" name="tipoEspacio" type="tns:eTipoEspacio" />
      <xs:element minOccurs="0" name="ubicacion" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="reserva">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:constancia">
        <xs:sequence>
          <xs:element name="activo" type="xs:unsignedShort" />
          <xs:element minOccurs="0" name="espacio" type="tns:espacio" />
          <xs:element minOccurs="0" name="fechaReserva" type="xs:dateTime" />
          <xs:element minOccurs="0" name="finString" type="xs:string" />
          <xs:element minOccurs="0" name="horarioFin" type="tns:localTime" />
          <xs:element minOccurs="0" name="horarioIni" type="tns:localTime" />
          <xs:element minOccurs="0" name="iniString" type="xs:string" />
          <xs:element name="numReserva" type="xs:int" />
          <xs:element minOccurs="0" name="persona" type="tns:persona" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="constancia">
    <xs:sequence>
      <xs:element minOccurs="0" name="detallePago" type="xs:string" />
      <xs:element minOccurs="0" name="fecha" type="xs:dateTime" />
      <xs:element name="idConstancia" type="xs:int" />
      <xs:element name="igv" type="xs:double" />
      <xs:element minOccurs="0" name="metodoPago" type="tns:eMetodoPago" />
      <xs:element name="total" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="localTime" final="extension restriction">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="persona">
    <xs:sequence>
      <xs:element minOccurs="0" name="contrasenia" type="xs:string" />
      <xs:element minOccurs="0" name="correo" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="entradas" nillable="true" type="tns:entrada" />
      <xs:element name="idPersona" type="xs:int" />
      <xs:element minOccurs="0" name="nombres" type="xs:string" />
      <xs:element minOccurs="0" name="numDocumento" type="xs:string" />
      <xs:element minOccurs="0" name="primerApellido" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="reservas" nillable="true" type="tns:reserva" />
      <xs:element minOccurs="0" name="segundoApellido" type="xs:string" />
      <xs:element minOccurs="0" name="tipoDocumento" type="tns:eTipoDocumento" />
      <xs:element minOccurs="0" name="usuario" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="entrada">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:constancia">
        <xs:sequence>
          <xs:element minOccurs="0" name="funcion" type="tns:funcion" />
          <xs:element name="numEntrada" type="xs:int" />
          <xs:element minOccurs="0" name="persona" type="tns:persona" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="funcion">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="entradas" nillable="true" type="tns:entrada" />
      <xs:element minOccurs="0" name="evento" type="tns:evento" />
      <xs:element minOccurs="0" name="fecha" type="xs:string" />
      <xs:element minOccurs="0" name="horaFin" type="xs:string" />
      <xs:element minOccurs="0" name="horaInicio" type="xs:string" />
      <xs:element name="idFuncion" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="provincia">
    <xs:sequence>
      <xs:element minOccurs="0" name="departamento" type="tns:departamento" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="distritos" nillable="true" type="tns:distrito" />
      <xs:element name="idProvincia" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="departamento">
    <xs:sequence>
      <xs:element name="idDepartamento" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarFuncionesDeEvento">
    <xs:sequence>
      <xs:element name="arg0" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarFuncionesDeEventoResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="enviarCorreosCompradoresPorDistritoDeEvento">
    <xs:sequence>
      <xs:element minOccurs="0" name="asunto" type="xs:string" />
      <xs:element minOccurs="0" name="contenido" type="xs:string" />
      <xs:element name="idDistrito" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="enviarCorreosCompradoresPorDistritoDeEventoResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarEventoPorDistrito">
    <xs:sequence>
      <xs:element name="Id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarEventoPorDistritoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:evento" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="buscarEventoPorID">
    <xs:sequence>
      <xs:element name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="buscarEventoPorIDResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:evento" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="buscarEventoPorTexto">
    <xs:sequence>
      <xs:element minOccurs="0" name="texto" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="buscarEventoPorTextoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:evento" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarFuncionesDeEvento">
    <xs:sequence>
      <xs:element name="Id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarFuncionesDeEventoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:funcion" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="actualizarEvento">
    <xs:sequence>
      <xs:element minOccurs="0" name="evento" type="tns:evento" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="actualizarEventoResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarEvento">
    <xs:sequence>
      <xs:element minOccurs="0" name="evento" type="tns:evento" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarEventoResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerCantEntradasDisponibles">
    <xs:sequence>
      <xs:element name="IdFuncion" type="xs:int" />
      <xs:element name="obtenerCantEDisponibles" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerCantEntradasDisponiblesResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarLogico">
    <xs:sequence>
      <xs:element name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarLogicoResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarEvento">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarEventoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:evento" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="eDiaSemana">
    <xs:restriction base="xs:string">
      <xs:enumeration value="LUNES" />
      <xs:enumeration value="MARTES" />
      <xs:enumeration value="MIERCOLES" />
      <xs:enumeration value="JUEVES" />
      <xs:enumeration value="VIERNES" />
      <xs:enumeration value="SABADO" />
      <xs:enumeration value="DOMINGO" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="eMetodoPago">
    <xs:restriction base="xs:string">
      <xs:enumeration value="TARJETA" />
      <xs:enumeration value="YAPE" />
      <xs:enumeration value="PLIN" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="eTipoDocumento">
    <xs:restriction base="xs:string">
      <xs:enumeration value="DNI" />
      <xs:enumeration value="CARNETEXTRANJERIA" />
      <xs:enumeration value="PASAPORTE" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="eTipoEspacio">
    <xs:restriction base="xs:string">
      <xs:enumeration value="SALON" />
      <xs:enumeration value="CANCHA" />
      <xs:enumeration value="PARQUE" />
      <xs:enumeration value="TEATRO" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>