Sirgep/SirgepPresentacion/Connected Services/ReferenciaDisco/FuncionWS1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="pe.edu.pucp.sirgep" targetNamespace="pe.edu.pucp.sirgep" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="buscarFuncionId" type="tns:buscarFuncionId" />
  <xs:element name="buscarFuncionIdResponse" type="tns:buscarFuncionIdResponse" />
  <xs:complexType name="buscarFuncionId">
    <xs:sequence>
      <xs:element name="idFuncion" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="buscarFuncionIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:funcion" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="funcion">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="entradas" nillable="true" type="tns:entrada" />
      <xs:element minOccurs="0" name="evento" type="tns:evento" />
      <xs:element minOccurs="0" name="fecha" type="xs:dateTime" />
      <xs:element minOccurs="0" name="horaFin" type="xs:dateTime" />
      <xs:element minOccurs="0" name="horaInicio" type="xs:dateTime" />
      <xs:element name="idFuncion" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="entrada">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:constancia">
        <xs:sequence>
          <xs:element minOccurs="0" name="funcion" type="tns:funcion" />
          <xs:element name="numEntrada" type="xs:int" />
          <xs:element minOccurs="0" name="persona" type="tns:persona" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="constancia">
    <xs:sequence>
      <xs:element minOccurs="0" name="detallePago" type="xs:string" />
      <xs:element minOccurs="0" name="fecha" type="xs:dateTime" />
      <xs:element name="idConstancia" type="xs:int" />
      <xs:element name="igv" type="xs:double" />
      <xs:element minOccurs="0" name="metodoPago" type="tns:eMetodoPago" />
      <xs:element name="total" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="persona">
    <xs:sequence>
      <xs:element minOccurs="0" name="contrasenia" type="xs:string" />
      <xs:element minOccurs="0" name="correo" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="entradas" nillable="true" type="tns:entrada" />
      <xs:element name="idPersona" type="xs:int" />
      <xs:element minOccurs="0" name="nombres" type="xs:string" />
      <xs:element minOccurs="0" name="numDocumento" type="xs:string" />
      <xs:element minOccurs="0" name="primerApellido" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="reservas" nillable="true" type="tns:reserva" />
      <xs:element minOccurs="0" name="segundoApellido" type="xs:string" />
      <xs:element minOccurs="0" name="tipoDocumento" type="tns:eTipoDocumento" />
      <xs:element minOccurs="0" name="usuario" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="reserva">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:constancia">
        <xs:sequence>
          <xs:element name="activo" type="xs:unsignedShort" />
          <xs:element minOccurs="0" name="espacio" type="tns:espacio" />
          <xs:element minOccurs="0" name="fechaReserva" type="xs:dateTime" />
          <xs:element minOccurs="0" name="finString" type="xs:string" />
          <xs:element minOccurs="0" name="horarioFin" type="tns:localTime" />
          <xs:element minOccurs="0" name="horarioIni" type="tns:localTime" />
          <xs:element minOccurs="0" name="iniString" type="xs:string" />
          <xs:element name="numReserva" type="xs:int" />
          <xs:element minOccurs="0" name="persona" type="tns:persona" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="espacio">
    <xs:sequence>
      <xs:element minOccurs="0" name="distrito" type="tns:distrito" />
      <xs:element minOccurs="0" name="horarioFinAtencion" type="xs:string" />
      <xs:element minOccurs="0" name="horarioInicioAtencion" type="xs:string" />
      <xs:element name="idEspacio" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="listaDiasAtencion" nillable="true" type="tns:eDiaSemana" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element name="precioReserva" type="xs:double" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="reservas" nillable="true" type="tns:reserva" />
      <xs:element name="superficie" type="xs:double" />
      <xs:element minOccurs="0" name="tipoEspacio" type="tns:eTipoEspacio" />
      <xs:element minOccurs="0" name="ubicacion" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="distrito">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="espacios" nillable="true" type="tns:espacio" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="eventos" nillable="true" type="tns:evento" />
      <xs:element name="idDistrito" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="provincia" type="tns:provincia" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="evento">
    <xs:sequence>
      <xs:element minOccurs="0" name="archivoImagen" type="xs:base64Binary" />
      <xs:element name="cantEntradasDispo" type="xs:int" />
      <xs:element name="cantEntradasVendidas" type="xs:int" />
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element minOccurs="0" name="distrito" type="tns:distrito" />
      <xs:element minOccurs="0" name="fecha_fin" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fecha_inicio" type="xs:dateTime" />
      <xs:element name="idEvento" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element name="precioEntrada" type="xs:double" />
      <xs:element minOccurs="0" name="referencia" type="xs:string" />
      <xs:element minOccurs="0" name="ubicacion" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="provincia">
    <xs:sequence>
      <xs:element minOccurs="0" name="departamento" type="tns:departamento" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="distritos" nillable="true" type="tns:distrito" />
      <xs:element name="idProvincia" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="departamento">
    <xs:sequence>
      <xs:element name="idDepartamento" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="localTime" final="extension restriction">
    <xs:sequence />
  </xs:complexType>
  <xs:simpleType name="eDiaSemana">
    <xs:restriction base="xs:string">
      <xs:enumeration value="LUNES" />
      <xs:enumeration value="MARTES" />
      <xs:enumeration value="MIERCOLES" />
      <xs:enumeration value="JUEVES" />
      <xs:enumeration value="VIERNES" />
      <xs:enumeration value="SABADO" />
      <xs:enumeration value="DOMINGO" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="eTipoEspacio">
    <xs:restriction base="xs:string">
      <xs:enumeration value="SALON" />
      <xs:enumeration value="CANCHA" />
      <xs:enumeration value="PARQUE" />
      <xs:enumeration value="TEATRO" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="eMetodoPago">
    <xs:restriction base="xs:string">
      <xs:enumeration value="TARJETA" />
      <xs:enumeration value="YAPE" />
      <xs:enumeration value="PLIN" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="eTipoDocumento">
    <xs:restriction base="xs:string">
      <xs:enumeration value="DNI" />
      <xs:enumeration value="CARNETEXTRANJERIA" />
      <xs:enumeration value="PASAPORTE" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>