Sirgep/SirgepPresentacion/Connected Services/ReferenciaDisco/HorarioEspacioWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="pe.edu.pucp.sirgep" targetNamespace="pe.edu.pucp.sirgep" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="listarHorariosDelEspacioYDia" type="tns:listarHorariosDelEspacioYDia" />
  <xs:element name="listarHorariosDelEspacioYDiaResponse" type="tns:listarHorariosDelEspacioYDiaResponse" />
  <xs:complexType name="listarHorariosDelEspacioYDia">
    <xs:sequence>
      <xs:element name="idEspacio" type="xs:int" />
      <xs:element minOccurs="0" name="fecha_yyyy_mm_dd" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarHorariosDelEspacioYDiaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:horarioEspacio" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="horarioEspacio">
    <xs:sequence>
      <xs:element name="disponible" type="xs:boolean" />
      <xs:element minOccurs="0" name="horaIni" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>